/*
=====================
login
=====================
*/
.login-outer-div {
  display: flex;
  justify-content: center;
}

.login-signup {
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-color: rgb(255, 187, 0);
  width: 400px;
}
.form-buttons-div {
  display: flex;
  justify-content: center;
}
