/*
======================
Global
======================
*/
/*
font-family: 'Open Sans', sans-serif;
pallete
Red #912E2E
Violet #7067CF
lavender blue #B7C0EE
aero green: #CBF3D2
tan: #CEB992
*/
body {
  margin: 0;
}

hr {
  border: 1px solid rgb(68, 35, 35);
}
/*
=====================
Appjsx grid
=====================
*/
#appjsx {
  display: grid;
  grid-template-columns: 20% 80%;
  /* grid-template-rows: 10% 40% 40%; */
}
.navbar {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 25% 25% 25% 25%;
}

.navbar-logo-div {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-show-calendar {
  grid-row: 3;
  grid-column: 1;
}

.navbar-edit-calendar {
  grid-row: 3;
  grid-column: 2;
}
.navbar-edit-avail {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}

.rbc-calendar {
  grid-row: 2;
  grid-column: 2;
}
.logo {
  height: 80px;
  width: auto;
}

/*
=====================
login
=====================
*/
.login-outer-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #cbf3d2;
}

.login-signup {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-color: #7067cf;
  width: 400px;
}
.form-buttons-div {
  display: flex;
  justify-content: center;
}

.form-button {
  margin-top: 10%;
  background-color: #912e2e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;
  border-radius: 10px;
}

/*
==================
side bar
==================
*/
#sidebarContainer {
  grid-row: 2;
}
.sidebarList {
  font-family: 'Open Sans', sans-serif;
}

.group-list-item {
  margin-top: 10px;
}

#modalDiv {
  display: flex;
  justify-content: center;
}
#modalDiv button {
  margin-top: 10%;
  background-color: #912e2e;
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;
  border-radius: 10px;
}
.sidebarbuttons {
  display: flex;
  justify-content: center;
}
.sidebarbuttons button {
  width: 50%;
  margin-top: 10%;
  background-color: #b7c0ee;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  color: black;
}
.addEventContainer {
  display: flex;
  justify-content: center;
}
.AddFriendsButton button {
  width: 100%;
  margin-top: 10%;
  background-color: #b7c0ee;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;

  border-radius: 10px;

  font-size: 1em;
}
.addEventContainer button {
  width: 100%;
  margin-top: 10%;
  background-color: #b7c0ee;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;

  border-radius: 10px;

  font-size: 1em;
}
/*
================
events upcoming
================
*/
.EventsUpcoming {
  grid-column: 1/5;
  grid-row: 3;
  display: grid;
  grid-template-columns: 3.5%, 93%, 3.5%;
  grid-template-rows: 2%, 98%;
  margin-top: 10px;
}

.eventsTiles {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  /* display: flex;
  flex-direction: row;
  overflow: scroll; */
}

#eventTile {
  width: 250px;
  background-color: #e7f3e9;
  border: 3.5px solid #cbf3d2;
  /* background-color: #a69ff1;
  border: 2px solid #7067cf; */
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  /* text-align: left; */
  /* display: flex;
  justify-content: center;
  margin-top: 10%; */
  display: grid;
  grid-template-columns: 40px, minmax(169px, 175px), 35px;
  /* grid-template-columns: 20%, 60%, 20%; */
  /* grid-template-columns: 19.5%, 54.5%, 13%, 13%; */
  grid-template-rows: 100%;
  gap: 2px;
}

#tileDateBox {
  grid-column: 1;
  grid-row: 1;
  width: 40px;
  min-width: 40px;
  background-color: transparent;
  border: 5px;
  border-color: white;
  border-radius: 7px;
  text-align: center;
  font-size: large;
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 60%, 40%;
}
button#dateBoxBsButton {
  width: 40px;
  min-width: 40px;
  background-color: #e7f3e9;
  border: 5px;
  border-color: white;
  border-radius: 7px;
}
#dateBoxDay {
  grid-column: 1;
  grid-row: 1;
  font-size: x-large;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#dateBoxMonth {
  grid-column: 1;
  grid-row: 2;
  font-size: large;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#tileInfoList {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50%, 25%, 25%;
  font-size: small;
}
#infoListEvent {
  grid-column: 1;
  grid-row: 1;
  font-size: larger;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
#infoListTimeStart {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}
#infoListGroup {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

#tileRsvpButtons {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50%, 50%;
  gap: 4px;
}
#tileRsvpButtonYes {
  grid-column: 1;
  grid-row: 1;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
button#tileRsvpYes {
  background-color: white;
  border: 5px;
  border-color: #a494aa;
  border-radius: 7px;
  cursor: pointer;
}
#tileRsvpButtonNo {
  grid-column: 1;
  grid-row: 2;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}
button#tileRsvpNo {
  background-color: white;
  border: 5px;
  border-color: #ac8c8e;
  border-radius: 7px;
  cursor: pointer;
}

#eventsNavigateLeft {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #eventsNavigateLeft {
  opacity: 0.6;
} */
button#caretLeft {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
#iconCaretLeft {
  width: 20px;
  height: auto;
}

#eventsNavigateRight {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #eventsNavigateRight {
  opacity: 0.6;
} */
button#caretRight {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
#iconCaretRight {
  width: 20px;
  height: auto;
  background-color: transparent;
  border: 0px;
}
